@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@300&display=swap');
/* css custom properties */
:root {
  --primary: #171c2a;
  --secondary: #11141f;
  --tertiary: #1f222e;
  --dark: #0e0e12;
  --green: #52d794;
  --blue: #00b3bd;
  --light: #fff;
  --red: indianred;
}




.App {
  font-family: 'Work Sans', sans-serif;
  background: linear-gradient(to right, var(--green) 0%, var(--blue) 100%);
  
  min-height: 100vh;
  color: white;
}

.chat-btn{
  background: linear-gradient(to right, var(--green), var(--blue)) !important;
  color:var(--light)
}


